<a href="https://colab.research.google.com/github/vishnukumar-p/Project_iiitdwd_repository/blob/main/english_to_hindi_nmt.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install tensorflow

In [ ]:
import numpy as np
import pandas as pd
import os
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re

import seaborn as sns
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split
from keras.layers import Input, LSTM, Embedding, Dense
from keras.models import Model

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)

In [ ]:
lines=pd.read_csv("./drive/MyDrive/Hindi_English_Truncated_Corpus.csv",encoding='utf-8')

In [ ]:
lines['source'].value_counts()

tides        50000
ted          39881
indic2012    37726
Name: source, dtype: int64

In [ ]:
lines=lines[lines['source']=='ted']
lines.head(20)

   source                                                            english_sentence                                                        hindi_sentence
0     ted             politicians do not have permission to do what needs to be done.  राजनीतिज्ञों के पास जो कार्य करना चाहिए, वह करने कि अनुमति नहीं है .
1     ted                                  I'd like to tell you about one such child,                    मई आपको ऐसे ही एक बच्चे के बारे में बताना चाहूंगी,
3     ted            what we really mean is that they're bad at not paying attention.                        हम ये नहीं कहना चाहते कि वो ध्यान नहीं दे पाते
7     ted                            And who are we to say, even, that they are wrong                      और हम होते कौन हैं यह कहने भी वाले कि वे गलत हैं
13    ted                                            So there is some sort of justice                                                      तो वहाँ न्याय है
23    ted                                                         This changed slowly                                                  धीरे धीरे ये सब बदला
26    ted                                                        were being produced.                                              उत्पन्न नहीं कि जाती थी.
30    ted                                 And you can see, this LED is going to glow.                          और जैसा आप देख रहे है, ये एल.ई.डी. जल उठेगी।
32    ted                     to turn on the lights or to bring him a glass of water,                       लाईट जलाने के लिए या उनके लिए पानी लाने के लिए,
35    ted                                                Can you imagine saying that?                                          क्या आप ये कल्पना कर सकते है
37    ted    Three: this is a good road in - right near where our factory is located.       तीसरी: ये हमारी फ़ैक्ट्री के पास की एक अपेक्षाकृत बेहतर सडक है।
39    ted                                                           What's going on?”                                                   क्या हो रहा है ये?”
42    ted                            There are also financial reforms in rural China.                             ग्रामीण चीन में आर्थिक नवीनीकरण हुये हैं।
49    ted  the family planning started in Vietnam and they went for smaller families.     वियतनाम में परिवार योजना शुरू हो गई और उनके परिवार छोटे होने लगे।
51    ted                                             I mean, at that time, trust me,                                         मेरा मतलब, उस समय, सही मानिए,
53    ted                                                              Not only that,                                                          बस वही नहीं,
55    ted                         humans destroyed the commons that they depended on.       मानवों ने उन ही साझे संसाधनों को नष्ट किया जिन पर वो आधारित थे।
56    ted                     Almost goes to E, but otherwise the play would be over.           रचना करीब करीब ई तक जाती है, मगर तब तो नाटक ख़त्म हो जाएगा.
63    ted                           So I want to share with you a couple key insights                         मैं आपके साथ कुछ मुख्य सूत्र बाँटना चाहता हूँ
66    ted                      Many countries in the [unclear], they need legitimacy.                    [अस्पष्ट] के बहुत सारे राष्ट्रों को मान्यता चाहिए.

In [ ]:
pd.isnull(lines).sum()

source              0
english_sentence    0
hindi_sentence      0
dtype: int64

In [ ]:
lines=lines[~pd.isnull(lines['hindi_sentence'])]
lines.drop_duplicates(inplace=True)
lines=lines.sample(n=25000,random_state=42)
lines.shape

(25000, 3)

In [ ]:
# Lowercase all characters
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.lower())
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.lower())

In [ ]:
# Remove quotes
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: re.sub("'", '', x))
lines['english_sentence']=lines['english_sentence'].apply(lambda x: re.sub("'", '', x))

In [ ]:
exclude = set(string.punctuation) # Set of all special characters
# Remove all the special characters
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
lines['english_sentence']=lines['english_sentence'].apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [ ]:
# Remove all numbers from text
remove_digits = str.maketrans('', '', digits)
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.translate(remove_digits))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.translate(remove_digits))

lines['hindi_sentence'] = lines['hindi_sentence'].apply(lambda x: re.sub("[२३०८१५७९४६]", "", x))

# Remove extra spaces
lines['english_sentence']=lines['english_sentence'].apply(lambda x: x.strip())
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: x.strip())
lines['english_sentence']=lines['english_sentence'].apply(lambda x: re.sub(" +", " ", x))
lines['hindi_sentence']=lines['hindi_sentence'].apply(lambda x: re.sub(" +", " ", x))

In [ ]:
# Add start and end tokens to target sequences
lines['english_sentence'] = lines['english_sentence'].apply(lambda x : 'START_ '+ x + ' _END')

In [ ]:
lines.head()

       source                                                                                       english_sentence                                                                                hindi_sentence
82040     ted                                          START_ we still dont know who her parents are who she is _END                                   हम अभी तक नहीं जानते हैं कि उसके मातापिता कौन हैं वह कौन है
85038     ted                                                                                START_ no keyboard _END                                                                             कोई कुंजीपटल नहीं
58018     ted                                                            START_ but as far as being a performer _END                                                                   लेकिन एक कलाकार होने के साथ
74470     ted                                                                START_ and this particular balloon _END                                                                            और यह खास गुब्बारा
122330    ted  START_ and its not as hard as you think integrate climate solutions into all of your innovations _END  और जितना आपको लगता है यह उतना कठिन नहीं हैअपने सभी नवाचारों में जलवायु समाधान को एकीकृत करें

In [ ]:
### Get English and Hindi Vocabulary
all_eng_words=set()
for eng in lines['english_sentence']:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)

all_hindi_words=set()
for hin in lines['hindi_sentence']:
    for word in hin.split():
        if word not in all_hindi_words:
            all_hindi_words.add(word)

In [ ]:
lines['length_eng_sentence']=lines['english_sentence'].apply(lambda x:len(x.split(" ")))
lines['length_hin_sentence']=lines['hindi_sentence'].apply(lambda x:len(x.split(" ")))

In [ ]:
lines.head()

       source                                                                                       english_sentence                                                                                hindi_sentence  length_eng_sentence  length_hin_sentence
82040     ted                                          START_ we still dont know who her parents are who she is _END                                   हम अभी तक नहीं जानते हैं कि उसके मातापिता कौन हैं वह कौन है                   13                   14
85038     ted                                                                                START_ no keyboard _END                                                                             कोई कुंजीपटल नहीं                    4                    3
58018     ted                                                            START_ but as far as being a performer _END                                                                   लेकिन एक कलाकार होने के साथ                    9                    6
74470     ted                                                                START_ and this particular balloon _END                                                                            और यह खास गुब्बारा                    6                    4
122330    ted  START_ and its not as hard as you think integrate climate solutions into all of your innovations _END  और जितना आपको लगता है यह उतना कठिन नहीं हैअपने सभी नवाचारों में जलवायु समाधान को एकीकृत करें                   18                   18

In [ ]:
lines[lines['length_hin_sentence']>30].shape

(0, 5)

In [ ]:
lines=lines[lines['length_eng_sentence']<=20]
lines=lines[lines['length_hin_sentence']<=20]
lines.shape

(24907, 5)

In [ ]:
print("maximum length of Hindi Sentence ",max(lines['length_hin_sentence']))
print("maximum length of English Sentence ",max(lines['length_eng_sentence']))

maximum length of Hindi Sentence  20
maximum length of English Sentence  20

In [ ]:
max_length_src=max(lines['length_hin_sentence'])
max_length_tar=max(lines['length_eng_sentence'])

In [ ]:
input_words = sorted(list(all_hindi_words))
target_words = sorted(list(all_eng_words))
num_encoder_tokens = len(all_hindi_words)
num_decoder_tokens = len(all_eng_words)
num_encoder_tokens, num_decoder_tokens

(17538, 14032)

In [ ]:
num_decoder_tokens += 1 #for zero padding

In [ ]:
input_token_index = dict([(word, i+1) for i, word in enumerate(input_words)])
target_token_index = dict([(word, i+1) for i, word in enumerate(target_words)])
reverse_input_char_index = dict((i, word) for word, i in input_token_index.items())
reverse_target_char_index = dict((i, word) for word, i in target_token_index.items())

In [ ]:
lines = shuffle(lines)
lines.head(10)

       source                                                       english_sentence                                                 hindi_sentence  length_eng_sentence  length_hin_sentence
78908     ted  START_ and this is really a story about a publicprivate solution _END              और ये कहानी निजी और सरकारी प्रयासों के साथ आनी की                   12                   11
98353     ted                                  START_ here is that region again _END                             इसी क्षेत्र में दोबारा इस स्थान पर                    7                    7
83900     ted         START_ so these are just some examples of the neat things _END                   तो यह सिर्फ उन बेहतरीन चीजों का उदाहरण है जो                   12                   10
68909     ted                               START_ a swarm of little particles” _END                                           छोटे कणों का एक झुंड                    7                    5
102899    ted                           START_ and when we did my dad would say _END                   और जब हमने उसे ढूंढ लिया तब मेरे पिता ने कहा                   10                   11
15708     ted                          START_ as compared with percent in india _END                                    भारत के प्रतिशत के मुकाबले।                    8                    5
113886    ted                                  START_ that allows us to do this _END                                        जो हमें यह करने देता है                    8                    6
29701     ted                          START_ maybe you have this child at home _END                               शायद यह बच्चा आप के घर में भी हो                    9                    9
82316     ted                 START_ then while jogging with my dog one morning _END  फिर एक दिन प्रातकाल मैं जब अपने कुतिया के साथ दौड़ लगा रही थी                   10                   14
4333      ted                        START_ but kund which uses the gypsum belt _END                  लेकिन कुँई जो जिप्सम बेल्ट को काम में लेती है                    9                   10

DATA Preprocessing done

Now using nmt model to translate

In [ ]:
X, y = lines['hindi_sentence'], lines['english_sentence']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=42)
X_train.shape, X_test.shape

((19925,), (4982,))

In [ ]:
X_train.to_pickle('X_train.pkl')
X_test.to_pickle('X_test.pkl')

In [ ]:
def generate_batch(X = X_train, y = y_train, batch_size = 128):
    ''' Generate a batch of data '''
    while True:
        for j in range(0, len(X), batch_size):
            encoder_input_data = np.zeros((batch_size, max_length_src),dtype='float32')
            decoder_input_data = np.zeros((batch_size, max_length_tar),dtype='float32')
            decoder_target_data = np.zeros((batch_size, max_length_tar, num_decoder_tokens),dtype='float32')
            for i, (input_text, target_text) in enumerate(zip(X[j:j+batch_size], y[j:j+batch_size])):
                for t, word in enumerate(input_text.split()):
                    encoder_input_data[i, t] = input_token_index[word] # encoder input seq
                for t, word in enumerate(target_text.split()):
                    if t<len(target_text.split())-1:
                        decoder_input_data[i, t] = target_token_index[word] # decoder input seq
                    if t>0:
                        # decoder target sequence (one hot encoded)
                        # does not include the START_ token
                        # Offset by one timestep
                        decoder_target_data[i, t - 1, target_token_index[word]] = 1.
            yield([encoder_input_data, decoder_input_data], decoder_target_data)

#Encoder-Decoder Architecture

In [ ]:
latent_dim=300

In [ ]:
# Encoder
encoder_inputs = Input(shape=(None,))
enc_emb =  Embedding(num_encoder_tokens, latent_dim, mask_zero = True)(encoder_inputs)
encoder_lstm = LSTM(latent_dim, return_state=True)
encoder_outputs, state_h, state_c = encoder_lstm(enc_emb)
# We discard `encoder_outputs` and only keep the states.
encoder_states = [state_h, state_c]

In [ ]:
# Set up the decoder, using `encoder_states` as initial state.
decoder_inputs = Input(shape=(None,))
dec_emb_layer = Embedding(num_decoder_tokens, latent_dim, mask_zero = True)
dec_emb = dec_emb_layer(decoder_inputs)
# We set up our decoder to return full output sequences,
# and to return internal states as well. We don't use the
# return states in the training model, but we will use them in inference.
decoder_lstm = LSTM(latent_dim, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_lstm(dec_emb,
                                     initial_state=encoder_states)
decoder_dense = Dense(num_decoder_tokens, activation='softmax')
decoder_outputs = decoder_dense(decoder_outputs)

# Define the model that will turn
# `encoder_input_data` & `decoder_input_data` into `decoder_target_data`
model = Model([encoder_inputs, decoder_inputs], decoder_outputs)

In [ ]:
model.compile(optimizer='rmsprop', loss='categorical_crossentropy')

In [ ]:
model.summary()

Model: "model_6"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_9 (InputLayer)           [(None, None)]       0           []

 input_10 (InputLayer)          [(None, None)]       0           []

 embedding_4 (Embedding)        (None, None, 300)    5261400     ['input_9[0][0]']

 embedding_5 (Embedding)        (None, None, 300)    4209900     ['input_10[0][0]']

 lstm_4 (LSTM)                  [(None, 300),        721200      ['embedding_4[0][0]']
                                 (None, 300),
                                 (None, 300)]

 lstm_5 (LSTM)                  [(None, None, 300),  721200      ['embedding_5[0][0]',
                                 (None, 300),                     'lstm_4[0][1]',
                                 (None, 300)]                     'lstm_4[0][2]']

 dense_2 (Dense)                (None, None, 14033)  4223933     ['lstm_5[0][0]']

==================================================================================================
Total params: 15,137,633
Trainable params: 15,137,633
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
train_samples = len(X_train)
val_samples = len(X_test)
batch_size = 128
epochs = 1

In [ ]:
model.fit(generate_batch(X_train, y_train, batch_size = batch_size),
                    steps_per_epoch = train_samples//batch_size,
                    epochs=epochs,
                    validation_data = generate_batch(X_test, y_test, batch_size = batch_size),
                    validation_steps = val_samples//batch_size)

In [ ]:
model.save_weights('nmt_weights.h5')

In [ ]:
# Encode the input sequence to get the "thought vectors"
encoder_model = Model(encoder_inputs, encoder_states)

# Decoder setup
# Below tensors will hold the states of the previous time step
decoder_state_input_h = Input(shape=(latent_dim,))
decoder_state_input_c = Input(shape=(latent_dim,))
decoder_states_inputs = [decoder_state_input_h, decoder_state_input_c]

dec_emb2= dec_emb_layer(decoder_inputs) # Get the embeddings of the decoder sequence

# To predict the next word in the sequence, set the initial states to the states from the previous time step
decoder_outputs2, state_h2, state_c2 = decoder_lstm(dec_emb2, initial_state=decoder_states_inputs)
decoder_states2 = [state_h2, state_c2]
decoder_outputs2 = decoder_dense(decoder_outputs2) # A dense softmax layer to generate prob dist. over the target vocabulary

# Final decoder model
decoder_model = Model(
    [decoder_inputs] + decoder_states_inputs,
    [decoder_outputs2] + decoder_states2)
def decode_sequence(input_seq):
    # Encode the input as state vectors.
    states_value = encoder_model.predict(input_seq)
    # Generate empty target sequence of length 1.
    target_seq = np.zeros((1,1))
    # Populate the first character of target sequence with the start character.
    target_seq[0, 0] = target_token_index['START_']

    # Sampling loop for a batch of sequences
    # (to simplify, here we assume a batch of size 1).
    stop_condition = False
    decoded_sentence = ''
    while not stop_condition:
        output_tokens, h, c = decoder_model.predict([target_seq] + states_value)

        # Sample a token
        sampled_token_index = np.argmax(output_tokens[0, -1, :])
        sampled_char = reverse_target_char_index[sampled_token_index]
        decoded_sentence += ' '+sampled_char

        # Exit condition: either hit max length
        # or find stop character.
        if (sampled_char == '_END' or
           len(decoded_sentence) > 50):
            stop_condition = True

        # Update the target sequence (of length 1).
        target_seq = np.zeros((1,1))
        target_seq[0, 0] = sampled_token_index

        # Update states
        states_value = [h, c]

    return decoded_sentence

In [ ]:
train_gen = generate_batch(X_train, y_train, batch_size = 1)
k=-1

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Hindi sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

1/1 [==============================] - 22s 22s/step
1/1 [==============================] - 1s 1s/step
1/1 [==============================] - 0s 28ms/step
1/1 [==============================] - 0s 28ms/step
1/1 [==============================] - 0s 28ms/step
1/1 [==============================] - 0s 27ms/step
1/1 [==============================] - 0s 28ms/step
Input Hindi sentence: कुछ लोग यह दावा कर सकते है की भारत
Actual English Translation:  one might argue that india has become
Predicted English Translation:  and and the the the

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Hindi sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

1/1 [==============================] - 0s 37ms/step
1/1 [==============================] - 0s 28ms/step
1/1 [==============================] - 0s 27ms/step
1/1 [==============================] - 0s 27ms/step
1/1 [==============================] - 0s 27ms/step
1/1 [==============================] - 0s 34ms/step
Input Hindi sentence: ये जादुई सी किताब यथार्थवादी उपन्यास है।
Actual English Translation:  its a magical realist novel
Predicted English Translation:  and and the the

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Hindi sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Hindi sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])

In [ ]:
k+=1
(input_seq, actual_output), _ = next(train_gen)
decoded_sentence = decode_sequence(input_seq)
print('Input Hindi sentence:', X_train[k:k+1].values[0])
print('Actual English Translation:', y_train[k:k+1].values[0][6:-4])
print('Predicted English Translation:', decoded_sentence[:-4])